<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="yahboomcar_X3plus">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import yahboomcar_X3plus urdf file -->
    <xacro:include filename="$(find yahboomcar_description)/urdf/yahboomcar_X3plus.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="yahboomcar_X3plus.ros2_control.xacro" />


    <xacro:yahboomcar_X3plus_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
